/* .card{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 700px;
    background-color: red;
}



.card-items{
    background-color: lightgreen;
    font-size: 50px;
    padding: 20px;
    width: 200px;
    text-align: center;
    height:200px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */


.card{
    width: 500px;
    height: 500px;
    margin: 200px auto;
    border:1px solid lightgray;
    
    text-align:"center";
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}