/*.card{
    margin: 100px auto;
    width: 600px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    border: 1px solid lightgrey;
    padding: 50px;
    background-color: red;
    padding: 50px;
    position: absolute;
    top: 200px;
    bottom: 50px;
    right: 100px;
    left: 100px;
    position: fixed;
    top: 50px;
    bottom: 50px;
    right: 100px;
    position: sticky;
    top: 50px;
    left: 500px;
    position: sticky;
    top: 50px;
}
.card-img{
    width: 100%;
    border-radius: 14px;

}
.card-heading{
    font-size: 25px;
    position: absolute;
    top: 150px;
    text-align: center;
    width: 100%;
    color: rgb(18, 18, 18);
}

*{
    box-sizing: border-box;
}
.card{
    width: 600px;
    margin: 200px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    border: 1px solid lightgray;
    border-radius: 14px;
}

.card-img{
    width: 100%;
    border-radius:14px ;

}
.card-title{
    font-size: 30px;
    font-weight: bold;
}
.card-text{
    font-size: 60px;
    font-weight: bold;
}
.card-footer{
    margin-top: 20px;
    font-size: 20px;
}
.card-heading{
    background-color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: rgb(165, 142, 11);
    padding: 10px;
    border-bottom-left-radius:14px ;
    border-bottom-right-radius: ;
}
.card-bg{
    background-color: rgba(107, 104, 104 0.3);
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
}*/