 /*style .css.card {
    /*height: 400px;
    font-size: 50px;
    background-color:red;
    text-decoration:line-through underline overline;
    text-transform : uppercase;
    text-transform: capitalize;
    text-indent: 200px;
    text-shadow: 0 0 5px green;
    overflow: auto;
    font-size:200%;
    
  font-family: system-ui,  ;
  font-weight: 400;
  font-style: normal;
  line-height: 500px;
  vertical-align:top;


    font-style: normal;

    /*font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

/*a {
    text-decoration: none;
}

.card-image{
    width: 100%;
}*/

/* .card {
    box-sizing: border-box;
    width: 50%;
    padding: 60px;
    border: 1px solid lightgrey;
    margin: 60px auto;
    border-radius: 14px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    background-image: linear-gradient(to right, rgb(139, 223, 159), rgb(82, 150, 99));
    width:600px;
    border: 1px solid lightgrey;
    border-radius: 14px;
    padding: 100px 50px;
    margin: 100px auto;
    box-shadow: 0 0 10px rgb(145, 150, 146);

}*/
/*.card-heading{
    font-size: 60px;
    font-weight: bold;

}*/
/*.card-text{
    margin-top: 30px;
    margin-bottom: 30px;
}*/

/*.button{
    border: 1px solid lightgrey;
    padding: 20px 40px;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: lightgray;
} */

/*.card{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 600px;
    border: 1px solid lightgrey;
    margin: 100px auto;
    border-radius: 14px;
}
/*.card-body {
    padding: 40px;

}
/*.card-heading {
    font-size: 30px;

}
/*.card-text {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;

}
/*.card-img {
    width: 80px;
    border-radius:50%;
    margin: 0 50px;

}

/*.card-footer {
    padding: 40px;
    border-top: 1px solid lightgrey;
}
/*.card-link {
    text-decoration: none;
    font-size: 20px;

}*/

/*.card {
    border: 1px solid lightgrey;
    width: 600px;
    margin: 100px auto;
    border-radius: 14px;
}
.card-img{
    width: 100%;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}
.card-body {
    padding: 30px;
}
.card-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
}
.card-heading {
    margin:30px 0;
    font-size: 50px;
    font-weight: 200;
}
.card-text{
    font-size: 18px;
}
.card-link{
    margin-top: 30px;
    text-align: center;
    display: block;
    width: 150px;
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 30px;
    border: 1px solid lightgrey;
    font-size: 20px;
}*/

*{
    box-sizing: border-box;
}

.card{
    border: 1px solid lightgray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 500px;
    margin: 100px auto;
}
.card-heading{
    text-align: center;
    font-size: 56px;
}
.card-title{
    margin-top: 30px;
    margin-bottom:30px ;
    text-align: center;
}
.card-input{
    display : block;
    width: 100%;
    margin-top:30px;
    padding: 20px;
    border-radius:14px;
}
.card-button{
    
    margin: 30px auto;
    display: block;
    width: 60%;
    color: white;
    background-color: black;        
    padding: 20px 30px;
    border: none;
    border-radius: 14px;
    font-size: 25px;
}
.card-info{
    text-align: center;
    margin: 10px 0;
}
.card-link{
    color: black;
}
.card-text-light{
    font-weight: 200;

}
.card-footer{
    margin-top: 30%;
    font-size: 14px;
    text-align: center;
    font-weight: 200;
}


