style .css.card {
    /*height: 400px;
    font-size: 50px;
    background-color:red;
    text-decoration:line-through underline overline;
    text-transform : uppercase;
    text-transform: capitalize;
    text-indent: 200px;
    text-shadow: 0 0 5px green;
    overflow: auto;*/
    font-size:200%;
    
  font-family: system-ui,  ;
  font-weight: 400;
  font-style: normal;
  line-height: 500px;
  vertical-align:top;


    font-style: normal;

    /*font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    
}

/*a {
    text-decoration: none;
}*/

.card-image{
    width: 100%;
}