*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.card{
    margin: 100px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:400px;
    border: 1px solid lightgray;
    position: relative;
    border-radius: 14px;
    background-color: white;
}
.card-img{
    width:100%;
    height: 300px;
    padding:10px;
    border-radius: 18px;
}
.card-title{
    font-weight:bold;
    font-size: 25px;
    margin-left: 10px ;
}

.card-text{
    font-size: 20px;
    margin-top: 10px;
    margin-left:10px ;

}
.card-footer{
    width: 100%;
    display: flex;
    margin-top: 5px;
    padding: 10px;
    border-top:1px solid;
}
.card-image{
    width: 100px;
    height: 60px;
}
.card-title1{
    margin-left:3px ;
    font-size: 15px;
    margin-top: 40px;
    align-items: baseline;
}
.offers{
    position: absolute;
    font-size: 15px;
}
.promot{
    background-color: rgba(225, 229, 233, 0.5);
    /* height: 40px; */
    text-align: center;
    position: absolute;
    border-radius: 8px;
    margin-left:20px;
    margin-top: 20px;
    padding: 5px;
    color: black;
}
.upto{
    background-color: rgb(45, 105, 209);
    /* height: 40px; */
    /* font-size: 18px; */
    text-align: center;
    position: absolute;
    margin-top: 230px;
    margin-left: 10px;
    padding: 10px;
    width: 150px;
    color: white;
    font-weight:100px;
    
}

.min{
    background-color: rgb(249, 242, 242);
    position: absolute;
    left:300px;
    top:230px;
    width:80px;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    font-weight: 100px;
}

    
