*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.card{
    margin:100px auto;
    width:600px; 
    text-align: center;
    position: relative;
}

.card-img{
    margin:100px auto;
    width:100%;
    border-radius: 14px;
}
.card-title{
    font-size:40px;
    position: absolute;
    top: 200px;
    color: white;
}
.card-text{
    font-size: 20px;
    color:white;
}
.button{
    font-weight: 50px;
    font-size: 20px;
    border-radius: 8px;
    padding: 5px;
}