*{
    padding: 0 ;
    margin:0;
    box-sizing: border-box;
    background-color: lightblue;
    font-size: 16px;
}
.w-70{
    width: 70%;
}
.w-90{
    width: 90% !important;
}



#name{
    background-color: rgb(254, 209, 253);

}
#email{
    background-color: rgb(254,209,253)

}
#phone{
    background-color: rgb(254,209,253)

}
